global !p
from datetime import datetime
endglobal


snippet today "%d.%m.%Y" b
`!p snip.rv = datetime.today().strftime('%d.%m.%Y')`
endsnippet


snippet now "%d.%m.%Y %H:%M:%S" b
`!p snip.rv = datetime.today().strftime('%d.%m.%Y %H:%M:%S')`
endsnippet
